// OhMyFood primary colors palette
$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;

// Light-mode background-colors
$bg-light-primary: #fff;
$bg-light-secondary: #f6f6f6;
$bg-light-tertiary: #eaeaea;

// Dark-Mode background-colors
$bg-dark-primary: #353535;

// Additional colors
$clr-success: #99e2d0;
$clr-text-success: #159475;

// Mode-Dependant text color
$clr-text-light-primary: #000;
$clr-text-light-secondary: #353535;
$clr-text-dark: #fff;

// Extra colors
$clr-icons-dark: #7e7e7e;
$clr-important: #f5edff;
