#how-it-works {
  height: auto;
  background-color: $bg-light-primary;
  padding: 4rem 1.8rem 3.8rem;
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;

  b {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    counter-reset: how-it-works;

    li {
      background-color: $bg-light-secondary;
      counter-increment: how-it-works;
      list-style-type: decimal;
      position: relative;
      display: flex;
      padding: 2rem 1.5rem 2rem 0;
      margin-bottom: 2.5rem;
      overflow: visible;
      cursor: pointer;
      transition: background-color ease 0.1s;

      span {
        font-size: 1.5rem;
      }

      i {
        color: $clr-icons-dark;
        margin-left: 2rem;
        margin-right: 0.5rem;
        font-size: 1.5rem;
      }

      &:hover {
        background-color: $clr-important;

        & > i {
          color: $clr-primary;
        }
      }

      &::before {
        content: counter(how-it-works);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-35%, -50%);
        background-color: $clr-primary;
        color: $clr-text-dark;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        display: grid;
        place-items: center;
        font-size: 1.2rem;
      }

      &:nth-last-child(1) {
        margin-bottom: 0;
      }
    }
  }
}
