#restaurants {
  background-color: $bg-light-secondary;
  padding: 2rem;

  h2 {
    font-weight: 800;
    font-size: 1.6rem;
    padding-bottom: 2rem;
  }

  .restaurants {
    max-width: max(90rem, 90vw);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

@include tablet {
  #restaurants {
    .restaurants {
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
