#restaurants {
  background-color: $bg-light-secondary;
  padding: 2rem;

  h2 {
    font-weight: 800;
    font-size: 1.6rem;
  }

  .restaurants {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
