$clr-primary: #9356dc;
$clr-secondary: #ff79da;
$clr-tertiary: #99e2d0;

$bg-light-primary: #fff;
$bg-light-secondary: #f6f6f6;
$bg-light-tertiary: #eaeaea;

$bg-dark-primary: #353535;

$color-success: #99e2d0;

$clr-text-light: #000;
$clr-text-dark: #fff;
